<div class='head'>

<div class='navbar'>
	<div><span>I am an applicant</span></div>
	<div><span>API and Docs</span></div>
	<div><span>About us</span></div>
	<div><span>Careers</span></div>
</div>

<div class = 'banner'>
	<div class='headbanner'>
		<div><span>Checkr</span></div>
		<div><span>Products</span></div>
		<div><span>Industries</span></div>
		<div><span>Ressources</span></div>
	</div>
	<div class='logs'>
		<span>Log In</span>
		<button type="button" class='button'>Get Started <span id='fleche'>-></span></button>
	</div>
</div>

<div class='headbody'>
	
	<div>
		<div><span>HIRE GREAT PEOPLE.</span></div>
		<div><span>FASTER.</span></div>
		<div><span>Checkr provides modern and compliant background</span>
			<span>checks for global enterprises and startups.</span></div>
		<button type="button" class='button'>Explore Now <span id='fleche'>-></span></button>
	</div>

	<div>
		<%= image_tag("pagedemo.png",:alt => "logo", :class=> "pagedemo")%>
	</div>

</div>



</div>








<div class='clients'>
	
	<div>
		<span>More Than 10,000 Businesses Trust Checkr for Their Background Screenings</span>
	</div>

	<div>
		<%= image_tag("clientlogos.png",:alt => "logo", :class=> "clientlogos")%>
	</div>


</div>





<div class='background'>

<div id='backgroundtitle'>The Next Generation of Background Checks</div>

<div class='backgroundband1'>
<div class='backbox'>
	<div class='backbandtitle'><%= image_tag("mobile.png",:alt => "logo", :class=> "backimage")%></div>
	<div class='backbandtitle'><span >Mobile-Friendly</span></div>
	<div class='backboxtxt'><span>Create a positive applicant experience with simple, mobile-friendly onboarding.</span></div>
</div>

<div class='backbox'>
	<div><%= image_tag("screen.png",:alt => "logo", :class=> "backimage")%></div>
	<div class='backbandtitle'><span>Easy to Understand</span></div>
	<div class='backboxtxt'><span>Color-coded reports and an intuitive interface makes it possible to review information faster. See a sample employee background report.</span></div>
</div>


<div class='backbox'>
	<div><%= image_tag("toolos.png",:alt => "logo", :class=> "backimage")%></div>
	<div class='backbandtitle'><span>Convenient Automation</span></div>
	<div class='backboxtxt'><span>Reports and violations are categorized to help you remain compliant with individual assessment requirements.</span></div>
</div>



</div>

<div class='backgroundband2'>

<div class='backbox'>
	<div><%= image_tag("chat.png",:alt => "logo", :class=> "backimage")%></div>
	<div class='backbandtitle'><span>Simplified and Compliant Communication</span></div>
	<div class='backboxtxt'><span>Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard.</span></div>
</div>

<div class='backbox'>
	<div><%= image_tag("number.png",:alt => "logo", :class=> "backimage")%></div>
	<div class='backbandtitle'><span>Fast and Accurate</span></div>
	<div class='backboxtxt'><span>Understand the profile of your applicants and find the best pool of candidates using integrated analytics and reports.</span></div>
</div>


</div>







</div>

















<div class='features'>

	<div id='featitre'>
		<span>Tailored to Fit Your Industry’s Needs</span>
	</div>
	<div class='featbloc'>
		<div><%= image_tag("img1.jpeg",:alt => "logo", :class=> "featimage")%></div>
		<div><%= image_tag("img2.jpeg",:alt => "logo", :class=> "featimage")%></div>
		<div><%= image_tag("img3.jpeg",:alt => "logo", :class=> "featimage")%></div>
		<div><%= image_tag("img4.jpeg",:alt => "logo", :class=> "featimage")%></div>
		<div><%= image_tag("img5.png",:alt => "logo", :class=> "featimage")%></div>
		<div><%= image_tag("img6.jpeg",:alt => "logo", :class=> "featimage")%></div>
		<div><%= image_tag("img7.jpeg",:alt => "logo", :class=> "featimage")%></div>
		<div><%= image_tag("img8.jpeg",:alt => "logo", :class=> "featimage")%></div>
		<div><%= image_tag("img9.jpeg",:alt => "logo", :class=> "featimage")%></div>
		<div><%= image_tag("img10.jpeg",:alt => "logo", :class=> "featimage")%></div>
		<div><%= image_tag("img11.jpeg",:alt => "logo", :class=> "featimage")%></div>
		<div><%= image_tag("img12.jpeg",:alt => "logo", :class=> "featimage")%></div>
		
	</div>

</div>

<div class='recos'>

<div id='recotitle'>
	<span>Best in Class Compliance and Security</span>
</div>

<div class='blocs'>
	
	<div class='bloc'> 
		<div>
			<span class='bloctitle'>Screenings</span>
		</div>
		<div>
			<ul>
				<li>Criminal Records</li>
				<li>Driving Records</li>
				<li>Employment Verifications</li>
				<li>International Verifications</li>
				<li>Drug screening</li>
			</ul>
		</div>
		<div>
			<span class='bloclink'>Review all of Checker's</span>
			<span class='bloclink'><br/>Screenings Services</span>
		</div>
	</div>

	<div class='bloc'> 
		<div>
			<span class='bloctitle'>Compliance</span>
		</div>
		<div>
			<ul>
				<li>Compliant with state and federal laws, including FCRA</li>
				<li>NAPBS accreditation</li>
				<li>Employment Verifications</li>
				<li>Experienced in-house compliance and investigation team</li>	
			</ul>
		</div>
		<div>
			<span class='bloclink'>Visit our compliance</span>
			<span class='bloclink'><br/>learning center</span>
		</div>
	</div>

	<div class='bloc'> 
		<div>
			<span class='bloctitle'>Security</span>
		</div>
		<div>
			<ul>
				<li>Data encrypted using bank-grade standards</li>
				<li>Non-stop monitoring</li>
				<li>Employment Verifications</li>
				<li>Infrastructure built for high availability</li>
			</ul>
		</div>
		<div>
			<span class='bloclink'>See why we are trusted by </span>
			<span class='bloclink'><br/>world's companies</span>
		</div>
	</div>

</div>



</div>















<div class='infos_applicants'>

	<div id='applicantitle'>
	Information for Applicants
	</div>
	<div class='applicantent'>
		<div class='applicantleft'>
			<div>
				<div>
				<span id='title'>Checkr provides the support you deserve.</span>
				</div>
				<div>
				<span>
					<ul>
						<li>Responsive U.S.-based customer service</li>
						<li>Status tracking available through the applicant portal</li>
						<li>Support available by phone or email</li>
					</ul>
				</span>
				</div>
				<div id='applicantportal'>
				<span>Visit Checkr's Applicant Portal</span>
				</div>
			</div>
		</div>
		<div class='applicantright'>
			<div class='applicantrightxt'>
				<span>“First of all, thank you for informing me of the progress regarding your process.
				</span>
				<span>That is not only professional but exemplifies a degree of courtesy other companies would be smart to model.”</span>
			</div>
			<div class='yes'>
				<div><%= image_tag("photopeterd.png",:alt => "photopeterd", :class=> "photopeterd")%></div>
				<div class='yesyes'>
					<span>Peter D.</span>
					<span id='grubhubapplicant'>Grubhub applicant</span>
			</div>
				

			</div>
	</div></div>
	
	
</div>





<div class='demo'>

	<div>
		<%= image_tag("capturecran.png",:alt => "capturecran", :class=> "capturecran")%>
	</div>
	<div class='demomiddle'>
		<div id='demotitle'>Take a Tour</div>
		<div id='demotxt'>See why Checkr is the most reliable option for your background check needs.</div>
	</div>
	<div>
		<button type="button" class='button'>Schedule a demo <span id='fleche'>-></span></button>
	</div>

</div>


















<div class='alllinks'>
	
	<div class='toplinks'>
		<div class= 'linkcolumns'>
			<span class='linktitle'>Product</span>
			<span>Overview</span>
			<span>Screenings</span>
			<span>Compliance</span>
			<span>Security</span>
			<span>API and Docs</span>
		</div>
		<div class= 'linkcolumns'>
			<span class='linktitle'>Industries</span>
			<span>Overview</span>
			<span>Financial Services</span>
			<span>Healthcare</span>
			<span>Staffing</span>
			<span>Manufacturing</span>
			<span>Small Business</span>
			<span>Higher Education</span>
		</div>
		<div class= 'linkcolumns'>
				<span class='linktitle'>Resources</span>
				<span>Overview</span>
				<span>White Papers</span>
				<span>FAQ</span>
				<span>Blog</span>
				<span>Engineering Blog</span>
				<span>Applicant Portal</span>
		</div>
		<div class= 'linkcolumns'>
				<span class='linktitle'>Company</span>
				<span>Partners</span>
				<span>Partner Lead Portal</span>
				<span>About Us</span>
				<span>Bounce Back to Work</span>
				<span>Careers</span>
				<span>Press</span>
		</div>
		<div class= 'linkcolumns'>
				<span class='linktitle'>Connect</span>
				<span>hello@checkr.com</span>
				<span>Contact Us</span>
				<span>Get Started</span>
				<span>Log in</span>
				<span>Socialize</span>
		</div>
	</div>
	<div class='bottomlinks'>
		<div>
			<div class='bottomterms'>
				<span>Customer Agreement</span>
				<span>Private Policy</span>
				<span>Terms of Service</span>
			</div>
			<div>
				
				<span id='copyright'>@2017, Checkr, Inc.</span>
			</div>
		</div>
		<div><%= image_tag("accredited.png",:alt => "accredited", :class=> "imageacc")%></div>
		
		
	</div>

</div>
